:root {
  --text-color: #000814;
  --title-color: #001D3D;
  --primary-color: #FFD60A;
  --hover-primary: #FFC300;
  --secondary-color: #003566;
  --hover-secondary: #001D3D;
  --gray-variant: #D9D9D9;
  --white-variant: #FFFFFF;
}
