:root {
  --cancel-color: #FF0000;
  --add-color: #3CB043;
  --text-color: #000814;
  --title-color: #001D3D;
  --primary-color: #FFC300;
  --hover-primary: #FFD60A;
  --secondary-color: #003566;
  --hover-secondary: #001D3D;
  --white-900: #FFFFFF;
  --grey-900: #485156;
  --grey-500: #D9D9D9;
  --grey-300: #F0F0F0;
}
