@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import "./colors.css";

:root {
  --box-shadow: 0px 5px 10px 5px rgba(0, 8, 20, 0.05);
}

html, body {
  min-height: 100%;
  /* temp */
  overflow: hidden;
}

body {
  margin: 0;
  border: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: var(--text-color);
}

.primary-button {
  height: 45px !important;
  padding: 5px 25px !important;
  color: var(--text-color) !important;
  font-weight: bold !important;
  background-color: var(--primary-color) !important;
  transition: all 200ms ease-in-out !important;
}

.primary-button:hover {
  background-color: var(--hover-primary) !important;
}

.primary-button.MuiLoadingButton-loading {
  background-color: var(--grey-300) !important;
}

.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
