@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import "./colors.css";

:root {
  --box-shadow: 0px 5px 10px 5px rgba(0, 8, 20, 0.05);
}

html, body {
  min-height: 100%;
  /* temp */
  overflow: hidden;
}

body {
  margin: 0;
  border: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: var(--text-color);
}
