.layout-container {
  width: 100%;
}

.layout-container > main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.layout-container > main .page-container {
  min-height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 5rem;
}

.admin > main .page-container {
  width: 80%;
  align-items: flex-start;
}
