.car-container {
  color: var(--text-color);
  background-color: var(--grey-300);
  padding: 25px;
  margin: 10px;
  height: 250px;
  display: flex;
}

.car-container .content {
  width: 100%;
}

.car-container .content > #value {
  color: var(--white-900);
  background-color: var(--hover-secondary);
  padding: 5px 10px;
  border-radius: 5px;
}

.car-container .image-container {
  display: flex;
  align-items: center;
  padding: 0 25px;
}

.car-container .image-container > img {
  height: 80%;
}

.offer-tooltip button,
.offer-button {
  display: flex;
  align-items: center;
  font-weight: bold;
  border: none;
  font-size: 24px;
  padding: 25px 30px;
  background-color: var(--primary-color);
}

.offer-button button:focus,
.offer-button button:hover,
.offer-button:focus,
.offer-button:hover {
  color: var(--text-color);
  background-color: var(--hover-primary);
}
