.car-container {
  color: var(--text-color);
  box-shadow: var(--box-shadow);
  background-color: var(--grey-300);
  padding: 25px;
  margin: 10px;
}

.car-container .name {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.car-container .name > #value {
  color: var(--white-900);
  background-color: var(--hover-secondary);
  padding: 5px 10px;
  border-radius: 5px;
}

.car-container > img {
  width: 80%;
}
