.header-container {
  padding: 25px 100px;
  box-shadow: var(--box-shadow);
  background-color: var(--white-900);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-container > img {
  cursor: pointer;
}

.nav-button.unchecked > span {
  color: var(--text-color) !important;
  transition: all 100ms ease-in-out !important;
}

.nav-button.unchecked > span:hover {
  color: var(--hover-primary) !important;
}

.nav-button.checked > span {
  color: var(--primary-color) !important;
}
