.car-container {
  color: var(--text-color);
  background-color: var(--grey-300);
  padding: 25px;
  display: grid;
  gap: 10px;
  text-align: center;
}

.car-container > img {
  width: 100%;
}

.offer-button #value {
  display: none;
  font-size: 24px;
  font-weight: bold;
  margin-right: 12px;
}

.offer-button:hover #value {
  display: inline;
}

.offer-button:hover #text {
  display: none;
}

.offer-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  border: none;
  font-size: 24px;
  padding: 25px 30px;
  background-color: var(--primary-color);
  transition: all 300ms ease-in-out;
}

.offer-button:focus,
.offer-button:hover {
  color: var(--text-color);
  background-color: var(--hover-primary);
}
