.footer-container {
  padding: 25px 100px;
  background-color: var(--primary-color);
  /* position: absolute;
  bottom: 0; */
  width: 100%;
  /* height: 5vh; */
}

.footer-container > img {
  cursor: pointer;
}
