.login-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.login-container .login-form {
  padding: 25px 45px;
  box-shadow: var(--box-shadow);
  width: 30%;
  min-width: 400px;
  display: grid;
  gap: 20px;
}
